<link rel="stylesheet" href="../public/stylesheets/error.css">
<script src="../public/javascripts/error.js"></script>


<body>
 <img src="<iframe src="https://giphy.com/embed/jS87uGldWwfh6SzCsg" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a >via GIPHY</a></p>" alt="">   

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>

</body>
