<%- include('../partials/header') %>

<form action="/flights/destinations" method="post">
<input type="text" name="airport">
<input type="submit" value="submit">
</form>













<%- include('../partials/footer') %>